.card {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em 1em;
  border-radius: 1em;
  border: 2px solid white;
  box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.4);
  background-color: white;
  color: blueviolet;
  transition: 0.5s;
}

.card:hover {
  background-color: white;
  border: 2px solid violet;
}

.card .title {
  margin-top: 1em;
  font-size: 1.4em;
}

.price {
  margin-top: 1em;
  color: brown;
}
