.title_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

.title {
  color: blueviolet;
  text-align: center;
  font-size: 2em;
}

.product_container {
  display: grid;
  grid-template-columns: 23% 23% 23%;
  gap: 50px;
  justify-content: center;
}