.navbar {
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    padding: 0 50px;
}

.navbar l1 {
    text-align: center;
    text-shadow: 10px;
    font-size: 3em;
}

.search {
    text-align: left;
    font-size: 25px;
}

.item {
    flex: 1;
}

.list {
    padding: 20px 10px;
    list-style: none;
    display: flex;
    justify-content: right;
}

.list a {
    color: white;
    margin-right: 1em;
    text-decoration: none;
    transition: .3s;
}

.navbar a:hover {
    color: black;
}