.navbar {
  background-color: blueviolet;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  padding: 0 10px;
  position: fixed;
  overflow: hidden;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navbar h1 {
  text-align: center;
  text-shadow: 10px;
  font-size: 3em;
}

.search {
  text-align: left;
  font-size: 25px;
}

.search input[type="text"] {
  background-image: url("/images/search-icon.png");
  background-position-x: 10px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: 10px;
  padding-left: 30px;
  border-radius: 30px;
  border: 0px;
  height: 30px;
  width: 40%;
  background-color: whitesmoke;
}

.item {
  flex: 1;
}

.logo a {
  color: white;
  text-decoration: none;
}

.logo a:hover {
  color: silver;
}

.list {
  padding: 20px 10px;
  list-style: none;
  display: flex;
  justify-content: right;
}

.list a {
  color: white;
  margin-right: 1em;
  text-decoration: none;
  transition: 0.3s;
  font-size: 1.2em;
}

.navbar li > a:hover {
  color: black;
}
